@import url("https://fonts.googleapis.com/css2?family=Poppins:display=swap");

.home {
  max-width: 1440px;
  width: 100%;
  margin: 3em auto 0;
}

.explore {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.explore p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #000000;
}

.explore a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #ff385c;
}
.city{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
}

.cityCap {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 360px;
  height: 446px;
  padding: 1.5em;
}
.cityCap img {
  width: 100%;
  margin: auto;
  border-radius: 20px;
  position: relative;
}
.icon{
  position: absolute;
  top: 10%;
  right: 5%;
  z-index: 111;
  background-color: #000000;
}
.lText h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;    
  color: #000000;
  margin: 0 0 .3em;
}

.location {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 0.4em 0;
}
.Icon {
  font-size: 30px;
}
.star {
  font-size: 30px;
  color: #f0a938;
}

.location span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
}
.location button {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d9d9d9;
  border-radius: 100px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}


